body {
    background-color: white;
    padding: 0;
    margin: 0;
}

/* Estilos para Encabezado */
header {
    background-color: rgb(31, 140, 248);
    padding: 8px;
    text-align: right;
}

header li {
    font-size: 18px;
    padding-right: 75px;
    display: inline;
}

header li a {
    text-decoration: none;
    color: white;
}

header li a:hover {
    color: black;
}

header img{
    width: 240px;
    height: 60px;
    float: left;
    margin: -19px;
}



/* Estilos main o contenido */
/* Seccion division */
.division {
    display: flex;
    margin-bottom: 80px;
}

.izquierda {
    height: 100%;
    width: 60%;
    text-align: center;
    border-right: 2px solid rgb(209, 209, 209);
}

.derecha {
    width: 40%;
    height: 100%;
    text-align: center;
}

.tabla table {
    background-color: white;
    width: 85%; 
    border-collapse: collapse;
}

table td {
    height: 20px;
    text-align: center;
}

.complete {
    margin: 0 30px 0 30px;
    text-align: left;
}

button {
    font-size: 14px;
    border-color: rgb(31, 140, 248);
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(31, 140, 248);
    width: 200px;
    height: 35px;
}

.portadas {
    text-align: center;
}



/* Seccion Portadas */
div.libro {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(137, 194, 251), 0 6px 20px 0 rgba(0, 0, 0, 19);
    float: left;
    width: 275px;
}

div.libro img {
    width: 275px;
    height: 350px;
}

div.libro:hover {
    border: 1px solid rgb(31, 140, 248);
    transform: rotate(-3deg);
}

div.descripcion {
    text-align: center;
    padding: 10px;
}



/* Footer */
.piePagina {
    margin-top: 700px;
    width: 100%;
    background-color: rgb(137, 194, 251);
}

.piePagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 15px 0;
}

.piePagina .grupo1 .caja h2 {
    color: white;
    margin-bottom: 2px;
    font-size: 20px;
}

.piePagina .grupo1 h3 {
    color: white;
}

.piePagina .grupo1 video {
    width: 330px;
    height: 190px;
}

.piePagina .grupo1 .caja p {
    color: white;
    margin-bottom: 10px;
}

.piePagina .grupo1 .redesSociales a {
    color: white;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 25px;
    margin-right: 40px;
    text-align: center;
}

.piePagina .grupo1 .redesSociales img {
    width: 260px;
    height: 70px;
    margin-top: 50px;
    float: right;
}

.piePagina .grupo1 .redesSociales a:hover {
    color: black;
}

.piePagina .grupo2 {
    background-color: rgb(31, 140, 248);
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.piePagina .grupo2 small {
    font-size: 15px;
}





